.container{
  width: 90%;
  margin:auto;
  padding:25px 0;
}

.title{
  text-align:center;
  margin-bottom:20px;
  color:white;
  font-size:32px;
  letter-spacing:1px;
}


.book-grid{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(260px,1fr));
  gap:25px;
}


.book-card{
  background:#10182f;
  border-radius:14px;
  padding:18px;
  box-shadow:0 10px 35px rgba(0,0,0,0.7);
  transition:0.3s;
  color:white;
}

.book-card:hover{
  transform:translateY(-6px);
  box-shadow:0 18px 50px rgba(0,0,0,0.9);
}


.book-card img{
  width:100%;
  height:230px;
  object-fit:cover;
  border-radius:12px;
}


.book-card h3{
  margin:8px 0;
}

.price{
  display:block;
  font-size:20px;
  font-weight:bold;
  margin-top:5px;
  color:#00ffa6;
}

.btn{
  display:inline-block;
  margin-top:10px;
  padding:9px 15px;
  background:#00c3ff;
  color:#000;
  font-weight:bold;
  border-radius:8px;
  text-decoration:none;
  transition:.3s;
}

.btn:hover{
  background:#00ffa6;
}
.cart-container{
  width:75%;
  margin:auto;
  padding:25px;
  font-family:Arial;
  color:white;
}

.cart-title{
  text-align:center;
  margin-bottom:10px;
}


.cart-item{
  display:flex;
  justify-content:space-between;
  align-items:center;
  background:#111b33;
  padding:12px 15px;
  margin:12px 0;
  border-radius:12px;
  box-shadow:0 5px 25px rgba(0,0,0,0.6);
}


.cart-image{
  width:80px;
  height:80px;
  border-radius:10px;
  object-fit:cover;
}


.remove-btn{
  background:#ff4d4d;
  border:none;
  padding:9px 13px;
  color:white;
  border-radius:8px;
  cursor:pointer;
  font-weight:bold;
}

.remove-btn:hover{
  background:#ff0000;
}


.empty{
  text-align:center;
  color:gray;
}


.total{
  text-align:right;
  padding:10px 0;
  font-size:22px;
  color:#00ffa6;
}

.checkout-box{
  margin:35px auto;
  width:55%;
  max-width:700px;
  min-width:420px;
  background:#0d1328;
  padding:25px;
  border-radius:16px;
  box-shadow:0 10px 40px rgba(0,0,0,0.6);
}


.input-box{
  width:70%;
  padding:12px;
  margin-top:12px;
  border-radius:10px;
  border:1px solid #3d4f82;
  background:#0b1022;
  color:white;
  outline:none;
}

.input-box:focus{
  border-color:#00ffa6;
}


.checkout-btn{
  margin-top:18px;
  width:70%;
  padding:12px;
  border:none;
  background:#00ffa6;
  color:#000;
  font-weight:bold;
  font-size:16px;
  border-radius:10px;
  cursor:pointer;
  transition:.3s;
}

.checkout-btn:hover{
  background:#00c3ff;
}



.popup{
  position:fixed;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  background:#10182f;
  padding:25px 45px;
  border-radius:12px;
  box-shadow:0 5px 30px rgba(0,0,0,0.7);
  font-size:22px;
  font-weight:bold;
  color:#00ffa6;
}
